<% title @student["nombre"] %>

<p>
  <b><%= label_tag :code, "Código" %>:</b> <%= @student["codigo"] %>
</p>

<p>
    <b><%= label_tag :code, "Email" %>:</b> <%= mail_to @student["email"] %>
</p>

<p>
  <b><%= label_tag :code, "Teléfono" %>:</b> <%= @student["telefono"] %>
</p>

<h2>Cursos en los que este estudiante está inscrito</h2>

<table class="r">
  <tr>
    <th class="r">Código</th>
    <th class="r">Nombre</th>
    <th class="r">Grupo</th>
  </tr>

  <% @student["cursos"]["curso"].each do |course| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="r"><%= course["codigo"].upcase %></td>
      <td class="r"><%= course["nombre"] %></td>
      <td class="r"><%= link_to course["grupo"], course_path(course["codigo"], :group => course["grupo"]) %></td>
    </tr>
  <% end %>
</table>