<% title "#{extract_code(@grades["course"])} - #{extract_name(@grades["course"])}" %>

<div>
  <h2>Calificación</h2>
  <table class="r">
    <tr>
      <th class="r">Actividad</th>
      <th class="r">Porcentaje</th>
      <th class="r">Calificación obtenida</th>
    </tr>

    <% @grades["grades"].each do |grade| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="r"><%= grade["assignment"] %></td>
        <td class="r"><%= grade["percentage"] %>%</td>
        <td class="r"><%= grade["grade"] %></td>
      </tr>
    <% end %>
    <tr class="dark">
      <td class="r"></td>
      <td class="r"><b><%= @grades["graded_percentage"] %>%</b></td>
      <td class="r"><b><%= @grades["average_grade"] %></b></td>
    </tr>
  </table>
</div>

<div>
  <h2>Entrega de trabajos</h2>
  <div id="homework" class="center" data-url="<%= homework_path(:format => :js) %>">
    <%= image_tag "spinner.gif", :class => "spinner" %>
  </div>
</div>

<div>
  <h2>Contenidos</h2>
  <div id="resources" class="left light" data-url="<%= resource_path(:format => :js) %>">
      <div class="center">
        <%= image_tag "spinner.gif", :class => "spinner" %>
      </div>
  </div>
</div>

<div>
  <h2>Mensajes</h2>
  <div id="messages" class="center" data-url="<%= message_path(:format => :js) %>">
    <%= image_tag "spinner.gif", :class => "spinner" %>
  </div>
</div>